.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projTable {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project {
  display: flex;
  justify-content: center;
  min-width: 400px;
  min-height: 250px;
  border: 2px solid white;
  border-radius: 5px;
  margin: 2rem;
  
}
