.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4rem 0 4rem;
}
.title {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.projTable {
  width: 1300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project {
  display: flex;
  justify-content: center;
  width: 18.75rem;
  height: 12.5rem;
  border: 2px solid white;
  border-radius: 5px;
  transition: transform 0.5s;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  animation: appear 1s;
}

.pr2 {
  margin: 10rem 2rem -6rem 2rem;
}

.projHolder:hover .project{
  transform: translateY(-1rem)
}

.first {
  background-image: url("../../public/ggc.png");
}

.second {
  background-image: url("../../public/technotes.png");
}

.third {
  background-image: url("../../public/pychatbot.png")
}
.betwiz {
  background-image: url("../../public/betwiz.png");
}.minibus {
  background-image: url("../../public/minibus.png");
}

.desc { 
  margin-top: -1.5rem;
  padding-top: .5rem;
  position: relative;
  max-height: 0;
  z-index: -999;
  overflow: hidden;
  background-color: gray;
  width: 18.75rem;
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: max-height 0.5s ease-out;
  animation: appearAfter 1s;
}

.desc2 { 
  margin: 2rem;
  margin-top: 4.5rem;
  padding-top: .5rem;
  position: relative;
  max-height: 0;
  z-index: -999;
  overflow: hidden;
  background-color: gray;
  width: 18.75rem;
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: max-height 0.5s ease-out;
  animation: appearAfter 1s;
}

.projHolder:hover .desc{
  /* animation: slide .3s steps(100, end); */
  max-height: 20rem;
  transition: max-height 1s ease-out;
  z-index: -999;
  
}

.projHolder:hover .desc2{
  max-height: 20rem;
  transition: max-height 1s ease-out;
  z-index: -999;
}

.descIcon {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
.descIcon:hover {
  position: static;
}

.stack {
  display: flex;
  justify-content: space-between;
}


@keyframes appearAfter {
  0% {
    display: none;
  }
  98% {
    display: none;
  }
  100% {
    display: flex;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}