* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
}
body{
  background-color: black;
  color: white;
  font-family: 'Trebuchet MS', sans-serif; ;
}

.nav-container{
  display: flex;
  justify-content: space-between;
}

.navbar{
  width: 2000px;
  padding-top: 10px;
  padding-bottom: 120px;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}

.nav-item{
  text-decoration: underline;
  text-underline-offset: 10px;
}

.nav-icons{
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.icon{
  margin-right: 10px;
  cursor: pointer;
  transition: transform .5s;
}

a:hover .icon{
  transform: scale(1.5);
}

/* .html{
  font-size: 16px;
} */