.titleCont {
  display: flex;
  justify-content: space-around;
}

.hello{
  font-size: 40px;
  overflow: hidden;
  border-right: .15em solid white;
  white-space: nowrap;
  letter-spacing: .15em;
  animation: 
    typing 2s steps(50, end),
    blink-caret .75s step-end infinite;
}

.profilePic{
 border-radius: 1000px;
}

.animationCont{
  width: 380px;
}

@keyframes typing {
  0%{
    width: 0;
  }
  100%{
    width: 380px;
  }
}

@keyframes blink-caret {
  0%, 100%{
    border-color: transparent;
  }
  50%{
    border-color: white;
  }
}

.text{
  font-size: 24px;
  opacity: 40%;
}

.soft{
  margin-top: -300px;
  margin-left: 500px;
  max-width: 500px;
}

.about{
  margin-top: 100px;
}